.login-form {
    padding-top: 50px;
    margin: auto;
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.login_title {
    padding-top: 200px;
    text-align: center;
    color: #0050b3 !important;
}